{% extends 'base.html' %}
{% block title %}
    Полезная информация - {{ block.super }}
{% endblock %}

{% block content %}
    {#    {% include 'include/_messages.html' %}#}
    <div class="row">
        <div class="col-md-8">
            <h2>Полезная информация</h2>
            <p>Коэффициенты зарплаты в зависимости от типа курьера:</p>
            <ul>
                <li>На машине(50 кг): 9x</li>
                <li>На велосипеде(15 кг): 5x</li>
                <li>Пешком(10 кг): 2x</li>
            </ul>
        </div>
    </div>


{% endblock %}
